
@import url('https://fonts.googleapis.com/css?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit:wght@600&display=swap');
body {
    background:lightcyan;
    font-family: 'Roboto', sans-serif;
}
header{
    
}
nav{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 30px 10%;

}
.navigation{
    list-style: none;
}

.navigation li{
    display: inline-block;
    padding: 0px 20px;
    margin-left: 20px;
    padding: 10px 10px;
    border: none;
    border-radius: 30px;
}
.navigation li a {
    color: lightskyblue;
    text-decoration: none;
    transition: all o.3s ease 0s;
}
ul li a:hover {
    color: rgb(7, 82, 116);
}
button{
    margin-left: 20px;
    color: white;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all o.3s ease 0s;
}
h1 {                
    color: aqua;
    font-family: 'Kanit', sans-serif;
    text-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-align:center;
    margin-top:50px;
}
#container {
    display: flex;
    justify-content: center;
    margin-top:30px;  
}              
#table-container {
    position: relative;
    background: #fff3f0;
    color: #333;
    font-size: 14px;
    padding: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: auto;
    max-height: 250px;
    margin-top: 30px;
}
#input-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#table {
    width:100%;
    border-collapse:collapse;
}                      
#table th, #table td {  
    padding: 8px;
    text-align:center;                
}                     
#table th {             
    background-color: lightskyblue;
    color:white;
}
#table tr:nth-child(even) {
    background-color: #f2f2f2;
}
#table tr:hover {
    background-color: #ddd;
}
#add-button, #save-button {
    margin: 10px;
}
#overall-gpa, #weighted-gpa {
    color: black;
    background: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    width: 210px;
    height: 55px;
    position: absolute;
    top: 18%; 
    left: 12%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    font-size: 21px;
}
#weighted-gpa {
    top: 35%; 
}

.btn2 {
    padding-top: 20px;
    text-align: center;
}